[Unit]
Description=RL Persistent Topology
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
User=root
Group=root
# /etc/environment is required for ContainerNet workarounds
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/rl-labs/persist-environment
WorkingDirectory=/opt/rl-labs
ExecStart=/opt/rl-labs/prepare.sh ${RL_LAB} --persist-boot

[Install]
WantedBy=multi-user.target

